path.highcharts-link.highcharts-point {
    opacity: 0.85;
    transition: opacity 0.2s ease;

    &:hover {
        opacity: 1;
    }
}

.highcharts-label.highcharts-data-label {
    & span > i {
        display: block;
        font-style: normal;
    }
}

.span-text-right {
    display: inline-block;
    text-align: right;
}